<ion-header [ngClass]="{'ion-hide': !showHeader}">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
        <path fill="#000000" stroke="#FFFFFF" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
        <g>
            <path fill="#000" d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7      c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2    c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
        </g>
      </svg>
    </ion-avatar>
    <ion-label color="dark">
      <p class="font-bold">Hi, Jack!</p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="large">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>

<ion-content class="bg-softgreen" [scrollEvents]="true" (ionScroll)="toggleHeader($event)">
  <div class="container">
    <ion-header class="ion-no-border">
      <ion-item lines="none" class="bg-softgreen" [ngClass]="{'ion-hide': showHeader}">
        <ion-avatar slot="start">
          <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
            <path fill="#000000" stroke="#FFFFFF" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
            <g>
                <path fill="#000" d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
  C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
  c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7      c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2    c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
            </g>
          </svg>
        </ion-avatar>
        <ion-label color="dark">
          <p class="font-bold">Hi, Jack!</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button fill="clear" size="large">
            <ion-icon name="menu-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <h1 class="ion-padding-horizontal font-bold text-large">Explore fruits and berries</h1>
      <ion-searchbar class="ion-padding-horizontal rounded shadow-blur" search-icon="search-outline" enterkeyhint="search" animated="true" clear-icon="close-outline" showCancelButton="never"></ion-searchbar>
    </ion-header>
  
    <div class="content ion-margin-top ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let fruit of fruits" (click)="seeDetails(fruit)" size="6">
            <div class="box ion-padding ion-text-center" [style]="'background-color: ' + fruit['bg-color']">
              <div class="img-wrapper">
                <ion-img src="/assets/img/{{fruit.name}}.png"></ion-img>
              </div>
              <p class="ion-no-margin font-bold"><ion-text class="ion-text-capitalize">{{ fruit.name }}</ion-text></p>
              <small class="ion-no-margin"><ion-text>{{ fruit.cost }}</ion-text></small>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
