h1, p {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.bg-softgreen {
  --background: #F1F2F6;
}

.font-bold {
  font-weight: bold;
}

.text-small {
  font-size: small;
}

.text-large {
  font-size: large;
}

.rounded {
  --border-radius: 10px;
}

.shadow-blur {
  --box-shadow: 0 0 25px -10px;
}

.content {
  background: #fff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  flex-grow: 1;
  box-shadow: 0 0 25px -15px;
}

.box {
  display: flex;
  flex-flow: column;
  border-radius: 25px;
  height: 100%;
}

.img-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}