<ion-header [ngClass]="{'ion-hide': !showHeader}">
  <ion-item class="ion-no-padding" lines="none">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" icon="chevron-back-outline" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>

<ion-content style="--background: {{data['bg-color']}}" [scrollEvents]="true" (ionScroll)="toggleHeader($event)">
  <div class="container">
    <ion-header class="ion-no-border">
      <ion-item class="ion-no-padding" lines="none" style="--background: {{data['bg-color']}}" [ngClass]="{'ion-hide': showHeader}">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home" icon="chevron-back-outline" color="dark"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button fill="clear">
            <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <div class="img-wrapper">
        <ion-img class="max-w-1/2" src="../../assets/img/{{data.name}}.png"></ion-img>
      </div>
    </ion-header>

    <div class="details ion-margin-top">
      <ion-item class="ion-margin-top ion-padding-horizontal" lines="none">
        <ion-label>
          <h1 class="font-bold ion-text-capitalize">{{data.name}}</h1>
        </ion-label>
        <ion-label class="ion-text-right" slot="end">
          <p class="font-bold">{{data.cost}}</p>
        </ion-label>
      </ion-item>

      <ion-item class="ion-padding-horizontal" lines="none">
        <ion-label>
          <p>Amount</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="minAmount()">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <ion-input style="width: 60px;" class="ion-text-center" readonly="true" slot="end" type="number" inputmode="numeric" min="0" [(ngModel)]="amount"></ion-input>
          <ion-button fill="clear" (click)="addAmount()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <div class="about ion-margin-horizontal ion-padding-horizontal">
        <h1><ion-text class="ion-text-capitalize">About {{data.name}}</ion-text></h1>
        <p class="text-small"><ion-text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum placeat doloremque quae hic blanditiis quas itaque accusamus dolores aliquam alias possimus magni autem eligendi, optio aliquid incidunt ipsam eum soluta!</ion-text></p>
        <p class="text-small"><ion-text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum placeat doloremque quae hic blanditiis quas itaque accusamus dolores aliquam alias possimus magni autem eligendi, optio aliquid incidunt ipsam eum soluta!</ion-text></p>
        <p class="text-small"><ion-text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum placeat doloremque quae hic blanditiis quas itaque accusamus dolores aliquam alias possimus magni autem eligendi, optio aliquid incidunt ipsam eum soluta!</ion-text></p>
      </div>
      
      <ion-button class="ion-margin ion-padding-horizontal" color="success" shape="round" expand="block">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label class="ion-margin-start">Add to Cart</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>
