h1, p {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.img-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.max-w-1\/2 {
  max-width: 50%;
}

.font-bold {
  font-weight: bold;
}

.text-small {
  font-size: small;
}

.details {
  background: #fff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  flex-grow: 1;
  box-shadow: 0 0 25px -15px;
}